{
  "name": "patient-outbox-connector",
  "config": {
    "connector.class": "io.debezium.connector.postgresql.PostgresConnector",
    "plugin.name": "pgoutput",
    "tasks.max" : "1",
    "database.hostname": "patient-db",
    "database.port": "5432",
    "database.user": "postgres",
    "database.password": "root",
    "database.dbname": "patient_db",
    "database.server.name": "patient_outbox",
    "tombstones.on.delete": "false",
    "table.whitelist": "patient_db.outbox",
    "transforms": "outbox",
    "transforms.outbox.type": "swp.charite.CustomTransformation"
  }
}